DATABASE_URL="postgresql://neondb_owner:npg_mNjJxSYGM18p@ep-dry-glitter-a4bfuh7w-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="JMVDCrsbO1B5QioUJxjuE7J59wAMj8phdFjjAeQ3I3B"
SEED_EMAIL="ridhampatel.dev@gmail.com"
SEED_PASSWORD="JMVDCrsbO1B5Qio"